doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')
  body
    div.header
      h1 
        a.logolink(href="/") Members Only
      block navbar 

    block content
