extends layout 

block navbar 

    if user
        div.navbar
            if user.membership_status == "member"
                a.navlink(href="/membership") Become admin  
            else 
                a.navlink(href="/membership") Become a member

            a.navlink(href='/log-out') Log Out

block content 


    if user 
        h2=title 

        form(method="POST") 
            label(for="title") Title 
            input(type="text" name="title" required placeholder="Title...") 
            label(for="content") Content 
            textarea(name="content" cols="30" rows="10" placeholder="Content..." required)
            button(type=submit) Submit  

    else 

        p Please log in to view this page 
        a(href="/") Login Here 

    if errors
        ul
            for error in errors
                li!= error.msg 